.btn {
    border-radius: 0.2em;
    font-family: Arial;
    color: #ffffff;
    font-size: 1em;
    background: var(--Accent);
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
    min-width: 1em;
    vertical-align: middle;
}

.btn:hover {
    background: var(--Decoration);
    text-decoration: none;
    color:white
}

.inpt{
    border-radius: 0.2em;
    font-family: Arial;
    color: #ffffff;
    border: none;
    font-size: 1em;
    background:#afafaf;
    vertical-align: middle;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
}
.inpt:hover {
    background: #BF8360;
    color: white;
    text-decoration: none;
    color:white
}

.btn_canc{
    background-color: var(--errorColor);
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    cursor: pointer;
    padding: 0.2em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    background-color: var(--ContainerColor);
    color:var(--textColor);
    font-size: 2em;
    
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the collapsible content. Note: hidden by default */
.collasibleContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
