.btn {
    border-radius: 0.2em;
    font-family: Arial;

    color:var(--texteBtnColor);
    font-size: 1em;
    background: var(--Accent);
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
    min-width: 1em;
    vertical-align: middle;
}

.btn:hover {
    background: var(--Decoration);
    text-decoration: none;
    color:white
}

.inpt{
    border-radius: 0.2em;
    font-family: Arial;
    color: var(--textColor);
    border: none;
    font-size: 1em;
    background:var(--backColor);
    border-bottom: 0.15em solid var(--backColor);
    vertical-align: middle;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
    font-size: 1em;
}
.inpt:hover {
    border-bottom: 0.15em solid var(--Decoration);
    text-decoration: none;
    transition: border-bottom 0.1s linear 0.1s
    
}

.btn_canc{
    background-color: var(--errorColor);
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    cursor: pointer;
    padding: 0.2em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    background-color: var(--ContainerColor);
    color:var(--textColor);
    font-size: 2em;
    
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    float: right;
    vertical-align: middle;
    align-self: center;
    margin-left: 0.2em;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the collapsible content. Note: hidden by default */
.collasibleContent {
    max-height: 0;
    overflow: hidden;
    padding-bottom: 2em;
    transition: max-height 0.2s ease-out;
}

.table{
    color: var(--textColor);
    border:none;
}
.table td, .table th{
    border:none;
}
.table thead th{
    border-bottom: 1px solid var(--backColor);
}

.Treant .collapse-switch { width: 100%; height: 100%; border: none; }
.Treant .node.collapsed { background-color: var(--Selected); }
.Treant .node.collapsed .collapse-switch { background: none; }


.logPanel{
    padding: 0.5em;
    margin-top: 0.5em;
    border: var(--backColor) solid 1px;
    border-radius: 0.5em;
    max-height: 15em;
    overflow-y: auto;
}

.logPanel::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
.logPanel::-webkit-scrollbar-track {
    background: var(--backColor);        /* color of the tracking area */
}
.logPanel::-webkit-scrollbar-thumb {
    background-color: var(--ContainerColor);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--backColor);  /* creates padding around scroll thumb */
}



body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
background: var(--backColor);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
background-color: var(--ContainerColor);    /* color of the scroll thumb */
border-radius: 20px;       /* roundness of the scroll thumb */
border: 3px solid var(--backColor);  /* creates padding around scroll thumb */
}